/* Global Reset and Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formHeading {
    text-align: center;
    color: #333;
}

.subMain {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.currentUsers, .addNewUser {
    width: 48%;
    border: 1px solid black;
    border-radius: 10px;
}

/* Styling for Current Users Section */
.currentUsersHeadingAndSearch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.search {
    padding: 10px;
}

.search input[type="search"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Styling for Add New User Section */
.addUserHeading {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.addUserForm {
    padding: 20px;
}

.addUserForm label {
    display: block;
    margin-bottom: 10px;
}

.addUserForm input[type="text"],
.addUserForm input[type="email"] {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.addUserForm button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.addUserForm button:hover {
    background-color: #0056b3;
}


table.allUsersTable  {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
}

table.allUsersTable thead, tr:nth-child(even){
    background-color: gray;
    /* border-collapse: collapse; */
}

table.allUsersTable tr:hover{
    background-color: black;
    color: white;
    /* border-collapse: collapse; */
}

.allCurrentUsers{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    padding-top: 30px;
}